.list-item:hover {
  background-color: var(--orange-100);
}

.list-item {
  height: 92px;
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-2xl);
  display: flex;
  gap: var(--space-lg);
}

.list-item__primary-content {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
  margin-bottom: var(--space-sm);
}

.list-item__primary-content__title {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.list-item__primary-content__btn {
  background-color: transparent;
  border: none;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}
.list-item__primary-content__btn:hover {
  background-color: transparent;
}

.list-item__primary-content__website {
  color: var(--grey-400);
  font-size: var(--font-size-xs);
}
