.portal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.portal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 15rem;
  height: 100vh;

  background-color: white;
  padding: var(--space-2xl) var(--space-lg);
}

.portal-content ul {
  width: 100%;
}

.portal-content__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: var(--space-lg) var(--space-xs);
  background-color: white;
  border: none;
}

.portal-content__header__icon {
  background-color: white;
  border: none;
  font-size: var(--font-size-base);
}
