*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global variables */
:root {
  --font-base: 'Noto Sans', sans-serif;

  --white-100: #ffffff;
  --white-200: #fafafa;

  --black-100: #171717;
  --black-200: #0a0a0a;

  --grey-100: #e5e5e5;
  --grey-200: #a3a3a3;
  --grey-300: #525252;
  --grey-400: #6b7280;
  --grey-500: #404040;

  --orange-100: #fff7ed;
  --orange-200: #f97316;
  --orange-300: #ea580c;

  --button-primary-bg: var(--orange-200);
  --button-primary-hover-bg: var(--orange-300);
  --button-primary-focus-bg: var(--orange-300);
  --button-primary-focus-bd: var(--orange-300);
  --button-primary-disabled-bg: var(--grey-200);
  --button-primary-selected-bg: var(--orange-100);

  --button-primary-fg: var(--white-100);
  --button-primary-hover-fg: var(--white-100);
  --button-primary-focus-fg: var(--white-100);
  --button-primary-disabled-fg: var(--grey-200);
  --button-primary-selected-fg: var(--orange-300);

  --button-secondary-bg: 100;
  --button-secondary-hover-bg: 100;
  --button-secondary-focus-bg: 100;
  --button-secondary-disabled-bg: 100;
  --button-primary-selected-bg: 100;

  --link-bg: 100;
  --link-hover-bg: 100;
  --link-focus-bg: 100;
  --link-disabled-bg: 100;

  --icon-white-bg: 100;
  --icon-grey-bg: 100;
  --icon-default-focus: 100;
  --icon-default-disabled: 100;

  --icon-footer-bg: 100;
  --icon-footer-hover-bg: 100;
  --icon-footer-focus-bg: 100;

  --icon-footer-fg: 100;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;

  --line-height-xs: 1rem;
  --line-height-sm: 1.25rem;
  --line-height-base: 1.5rem;
  --line-height-lg: 1.75rem;
  --line-height-xl: 1.75rem;
  --line-height-2xl: 2rem;
  --line-height-3xl: 2.25rem;
  --line-height-4xl: 2.25rem;

  --space-0: 0rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-lg: 1rem; /*  16px */
  --space-xl: 1.25rem;
  --space-2xl: 1.5rem; /* 24px */
  --space-3xl: 1.75rem;
  --space-4xl: 2rem;
}

/* Global styles */
/* .hacker-news-icon {
  background-color: white;
  border: none;
  padding: 16px 24px 16px 4px;
  font-size: 16px;
} */

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--black-200);
}

ul {
  list-style-type: none;
}

body {
  font-family: var(--font-base);
  background: #fff;
  color: #333;
}
