.comment, .comment__root {
  min-height: 72px; 
  padding-bottom: var(--space-lg); 
}

.comment {
  margin-left: var(--space-0); 
  margin-top: -13px;
  border-left: 1.75px solid var(--grey-100);
  padding-left: 25px;
}

.comment__meta__text,
.comment__meta__text--time {
  font-size: var(--font-size-sm); 
  line-height: var(--line-height-sm); 
}

.comment__meta__text--time {
  color: gray
}

.comment__meta {
  display: flex; 
  gap: var(--space-sm); 
  height: var(--line-height-sm); 
  margin-bottom: var(--space-md); 
}

.comment__text {
  font-size: var(--font-size-sm); 
  line-height: var(--line-height-sm); 
  color: var(--black-200); 
}

.comment:last-child {
  border-left: none
}

.comment__children__container {
  display: flex;
}

.rectangle1 {
  height: 50px;
  width: 15px; 
  border-bottom: 1.75px solid var(--grey-100);
  border-left: 1.75px solid var(--grey-100);
  border-bottom-left-radius: var(--space-sm); 
}

.rectangle--first {
  margin-top: var(--space-lg); 
}

.content__container {
  display: flex;
  flex-direction: column;
}

.comment__children {
  padding-left: var(--space-0);
  
}

.child__container {
  display: flex;
  margin-left: var(--space-xl); 
}

.child__container--border {
  border-left: 1px solid black; 
}

