.comment, .comment--parent {
  min-height: 72px; 
  padding-bottom: var(--space-lg); 
}

.comment {
  margin-left: var(--space-0); 
  margin-top: -13px;
  border-left: 1.75px solid var(--grey-100);
  padding-left: 25px;
}

.metadata__text,
.metadata__time {
  font-size: var(--font-size-sm); 
  line-height: var(--line-height-sm); 
}

.metadata__time {
  color: gray
}

.comment__container__metadata {
  display: flex; 
  gap: var(--space-sm); 
  height: var(--line-height-sm); 
  margin-bottom: var(--space-md); 
}

.comment__text {
  font-size: var(--font-size-sm); 
  line-height: var(--line-height-sm); 
  color: var(--black-200); 
}

.comment:last-child {
  border-left: none
}

.comment__children__container {
  display: flex;
}

.comment-link {
  height: 50px;
  width: 1rem; 
  border-bottom: 1.75px solid var(--grey-100);
  border-left: 1.75px solid var(--grey-100);
  border-bottom-left-radius: var(--space-sm); 
}

.children__content {
  display: flex;
  flex-direction: column;
  margin-top: 4px; 
}

.children {
  padding-left: var(--space-0);
}

.comment__children__container {
  display: flex;
  margin-left: var(--space-xl); 
}
