.article-title-container {
  display: flex;
  flex-direction: column;
  padding: 40px 91px;
}

.back-btn-container {
  min-height: 84px; 
  margin: var(--space-4xl) 64px;
}

.article-body {
  margin: 100px 0px; 
}

.back-btn {
  color: var(--orange-500)
}