.detail-container__article {
  display: flex;
  flex-direction: column;
  padding: 40px 91px;
}

.article__body {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 28px;
  color: grey; 
}

.detail-container__back-btn {
  height: 84px; 
  display: flex;
  align-items: center;
}


.detail-container {
  min-height: 84px; 
  margin: var(--space-4xl) 64px;
  margin-top: var(--space-0); 
}

.back-btn {
  display: flex; 
  gap: 4px;
  align-items: center;
  color: var(--orange-200); 
  background-color: var(--white-100); 
  border: none; 
  min-height: var(--space-xl);
  min-width: 60px; 
  font-size: var(--font-size-sm); 
  line-height: var(--line-height-sm); 
  border-bottom: 1px solid transparent; 
}

.back-btn:hover { 
  border-bottom: 1px solid var(--orange-200); 
}

.article__title {
  font-size: 36px; 
  line-height: 40px;
  margin-bottom: var(--space-lg); 
}

.comment-count {
  min-height: 60px; 
  padding: var(--space-lg) var(--space-0); 
  font-size: 18px;
  line-height: 28px;
  border-top: 1px solid var(--grey-100);
}

.detail-container__loading {
  margin-top: 150px;  
}