.overview {
  padding-left: 64px;
  min-height: calc(100% - 29px);
}

.overview__title {
  padding-top: var(--space-4xl);
  margin-bottom: var(--space-sm);
  font-size: var(--space-2xl);
  line-height: var(--line-height-2xl);
  color: var(--black-200);
}

.overview__desc {
  padding-bottom: var(--space-4xl);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-base);
  color: var(--grey-400);
}

.load-more__btn {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: 10px 14px 10px 14px;
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-fg);
  border: 1px solid var(--white-200);
  box-shadow: var(--shadow-default);
}
