.sidebar {
  display: none;
  width: 194px;
  min-height: 100vh;
  padding: var(--space-2xl) var(--space-lg);
  border-right: 1px solid var(--grey-100);
}

.sidebar--detail-view {
  width: 240px; 
}

@media (min-width: 768px) {
  .sidebar {
    display: block;
  }
}

.hacker-news-icon {
  background-color: white;
  border: none;
  padding: var(--space-lg) var(--space-2xl) var(--space-lg) var(--space-xs);
  font-size: var(--font-size-base);
}
