footer {
  display: flex;
  justify-content: space-between;
  margin: var(--space-4xl) 64px;
}

.footer__content {
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-300);
}

.footer__links {
  display: flex;
  gap: var(--space-2xl);
}
