footer {
  display: flex;
  justify-content: space-between;
  margin: var(--space-4xl) 64px;
}

.footer__content {
  font-size: var( --font-size-sm); 
  line-height: var(--line-height-sm); 
  color: var(--grey-300);
}

.footer__links {
  display: flex;
  gap: var(--space-2xl);
}
